:root {
  --Green400: hsl(172, 67%, 45%);
  --Green900: hsl(183, 100%, 15%);
  --Grey500: hsl(186, 14%, 43%);
  --Grey400: hsl(184, 14%, 56%);
  --Grey200: hsl(185, 41%, 84%);
  --Grey50: hsl(189, 47%, 97%);
  --White: hsl(0, 100%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: var(--Grey200);
  font-family: "Space Mono", monospace, sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 100vh;
}

.main-container {
  background-color: var(--Grey200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  width: 21.875rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--White);
  font-size: 16px;
}
.calculator-container .select-tip {
  margin-top: 2rem;
}
.calculator-container .select-tip,
.calculator-container label {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--Grey500);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.input-section {
  padding: 2rem;
}
.input-section p {
  margin: 10px 0;
}

.bill-amount,
.people-number {
  width: 100%;
  background-color: var(--Grey50);
  padding: 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.bill-amount img,
.people-number img {
  width: 10px;
}

.bill-amount input[type=text],
.people-number input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--Green900);
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  width: 100%;
  cursor: pointer;
  font-family: "Space Mono", monospace, sans-serif;
}

.bill-amount:hover,
.custom-btn:hover {
  border: 2px solid var(--Green400);
}
.bill-amount:hover input,
.custom-btn:hover input {
  outline: none;
}

.select-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-block: 1rem;
  margin-block-end: 2rem;
}

.input-btn {
  padding: 10px 0;
  font-size: 24px;
  font-weight: 700;
  width: 8.125rem;
  background-color: var(--Green900);
  color: var(--White);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Space Mono", monospace, sans-serif;
}

.input-btn:hover {
  background-color: var(--Green400);
  color: var(--Green900);
}

.active {
  background-color: var(--Green400);
  color: var(--Green900);
}

.custom-btn {
  background-color: var(--Grey50);
  color: var(--Grey500);
  text-align: right;
  outline: none;
  padding-right: 10px;
}

.custom-btn:hover {
  background-color: var(--Grey50);
  color: var(--Grey500);
}

.error-msg {
  display: none;
  color: red;
  font-size: 0.8rem;
}

.people-number.error {
  border: 2px solid red;
}
.people-number.error input {
  outline: none;
}

.tip-display-section {
  font-family: "Space Mono", monospace, sans-serif;
  background-color: var(--Green900);
  color: var(--White);
  padding: 1rem;
  margin: 1.5rem;
  margin-top: 0;
  border-radius: 10px;
}

.tip-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-block: 1.5rem;
}
.tip-result p {
  color: var(--Grey500);
}
.tip-result .amount {
  font-size: 32px;
  font-weight: 700;
  color: var(--Green400);
  font-family: "Space Mono", monospace;
}
.tip-result .tip-header {
  color: var(--White);
}

.reset-button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--Green400);
  color: var(--Green900);
  font-weight: 700;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  font-family: "Space Mono", monospace, sans-serif;
  cursor: pointer;
}

footer {
  display: none;
}

@media (min-width: 785px) {
  .main-container {
    height: 100vh;
  }
  .calculator-container {
    width: 55rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-radius: 20px;
  }
  .select-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .input-btn {
    width: 7.5rem;
  }
  .tip-display-section {
    margin: 1.5rem;
    margin-left: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer {
    display: block;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 4rem;
  }
  footer .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

/*# sourceMappingURL=styles.css.map */
